<!DOCTYPE html>
<html>
    <head>
    <title>ForHer-Digital Shopping</title>  
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid-container">

        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                 &#9776;   
                </button>
             <a href="index.html" id="title"><font color="white">ForHer - DigitalClothes</font></a>

            </div>
            <div class="search">
                <form>
                    <input type="search" id="search-field">
                    <input type="submit" value="search" id="submit">
                </form>
            </div>
            
            <div class="header-links">
                <a href="cart.html" id='cart'>Cart</a>
                <a href="signin.html" id='signin'>Sign In</a>
            </div>
        </header>


        <main  class="main">
            <div id="slider"> 
                <figure> 
                 <img src="./images/img1.png" alt="img1"  size="10px"> 
                 <img src="./images/img4.png" alt="img2" size="10px"> 
                 <img src="./images/img3.png" alt="img3" size="10px"> 
                 <img src="./images/img5.png" alt="img4" size="10px"> 
                 <img src="./images/img1.png" alt="img5" size="10px">
                </figure> 
               </div> 

               <div class="categories">
                   <h3 id="categories">Categories</h3>
               <div class="outer-grid">
                <div class="inner-grid">
                <img src="./images/kurtas.png"/>
                <img src="./images/suits.jpg"/>
               </div>
                <div class="inner-grid">
                <img src="./images/saree.png"/>
                <img src="./images/chudithar.png"/>
                </div>
                <div class="inner-grid">
                <img src="./images/glasses.jpg"/>
                <img src="./images/bottom.png"/>
                </div>
             </div>
               </div>

               <!--Collection-->
               <div class="collection">
                   <h3>Collections</h3>
                   <div class="collectionouter-grid">
                    <div class="collectioninner-grid">
                  <a href="index.html"><img src="./images/accessories.png"/></a>
                    
                   </div>
                    <div class="collectioninner-grid">
                        <a href="index.html"><img src="./images/dress.png"/></a>
                        <a href="index.html"><img src="./images/sports.png"/></a>
                    </div>
                    <div class="collectioninner-grid">
                        <a href="index.html">  <img src="./images/coat.png"/></a>
                    
                    </div>
                 </div>

               </div>
               <div class="trending">
                   <div class="inner-trending">
                   <h3>Trending Now</h3>
                   <div class="trendingouter-grid">
                    <div class="trendinginner-grid">
                        <a href="index.html">  <img src="./images/bag.png"/></a>
                    <h3 id="trending">Bag</h3>
                    <h3 id="dollar">$60</h3>
                    
                   </div>
                    <div class="trendinginner-grid">
                        <a href="index.html"> <img src="./images/sgoes.png"/></a>
                    <h3 id="trending">Shoes</h3>
                    <h3 id="dollar">$100</h3>
                    </div>
                    <div class="trendinginner-grid">
                        <a href="index.html">  <img src="./images/mascara.png"/></a>
                    <h3 id="trending">Mascara</h3>
                    <h3 id="dollar">$40</h3>
                    </div>
                </div>
               
                    </div>
                 </div>

               </div>


           





               
        </main>
        <footer  class="footer">
            All rights reserved.
        </footer></div>
    </body>
</html>